*{
	margin: 0;
	padding: 0;
}


header{
	position: fixed;
	width: 100%;
	height: 82px;
	z-index: 1;
	color: whitesmoke;
}

nav{
	background-color: transparent;
		ul{
			position: absolute;
			top: 0;
			margin: 0;
			padding: 0;
		}	
}


.img-principal{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
}

.mi-btn{
	background-color: rgb(19, 161, 137);
	color: whitesmoke;
	height: 2%;
}

/*seccion 2*/

.contenedor-dos{
	background-color: rgb(245, 246, 248);
}

